/* Variables */
:root {
  --primary-text-color: #dcdcdc;
  --background-color: #000;
  --link-color: #8B0000;
  --link-hover-color: #A52A2A;
  --modal-bg-color: rgba(0, 0, 0, 0.9);
  --container-width: 650px;
  --container-padding: 25px;
  --text-transition: 0.3s ease;
}

/* Reset and Base */
body {
  position: relative;
  background: var(--background-color) url('img/background.jpeg') center/cover;
  color: var(--primary-text-color);
  font-family: 'IM Fell English', 'Times New Roman', serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* Container */
.container {
  max-width: var(--container-width);
  margin: auto;
  padding: var(--container-padding);
  text-align: center;
}

/* Footer */
footer {
  text-align: right;;
}

/* Images and Main Content */
.portrait-image, .main > * {
  opacity: 0;
}

.portrait-image {
  max-width: 100%;
  height: auto;
}

.main {
  text-align: left;
}

/* Countdown */
#countdown {
  text-align: center;
  margin-top: 25px;
}

#timer {
  font-weight: bold;
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: none;
  transition: color var(--text-transition);
}

a:hover, a:focus {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: var(--modal-bg-color);
  z-index: 1000;
}

.modal-content, .modal-content iframe {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; height: 80%;
  padding: 20px;
  background: var(--background-color);
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
}

.close {
  position: absolute;
  top: 10px; right: 20px;
  font-size: 30px;
  color: var(--primary-text-color);
  cursor: pointer;
}

/* Effects and Animations */
.fade-in, .visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

@keyframes flicker {
  0% { opacity: 1; }
  10% { opacity: 0.9; }
  20% { opacity: 0.85; }
  30% { opacity: 0.95; }
  40% { opacity: 1; }
  50% { opacity: 0.9; }
  60% { opacity: 0.88; }
  70% { opacity: 0.95; }
  80% { opacity: 1; }
  90% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes glow-flicker {
  0% { text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700; }
  100% { text-shadow: 0 0 6px #FFA500, 0 0 12px #FFA500; }
}

@keyframes writeSignature {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.flicker-effect {
  animation: flicker 1s infinite;
}

.candle-glow {
  text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700;
  animation: glow-flicker 1s infinite alternate;
}

.signature {
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
  display: inline-block;
  transform: rotate(-7deg);
  border-bottom: 2px solid #000;
  margin-top: 20px;
  clip-path: inset(0 100% 0 0); /* start off-screen */
}

.signature.animate {
  animation: writeSignature 3s forwards ease-in-out;
}
